*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: rgb(216, 152, 14);
    text-shadow: 0 0 25px rgb(216, 152, 14),0 0 50px rgb(216, 152, 14) ;
    transform: scale(1.1);
}
span{
    color: rgb(216, 152, 14);
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease;
}
.navbar a:hover,
.navbar a.active{
    color: rgb(216, 152, 14);
    border-bottom: 3px solid rgb(216, 152, 14);
}
.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: rgb(216, 152, 14);
    box-shadow: 0 0 25px rgb(216, 152, 14);
    color: white;
}
.home{
    width:100%;
    min-height: 100vh;
    background: rgb(241,241,241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 40px;
}
.home-content h1{
    font-size: 50px;
    line-height: 0.8;
    
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn-box{
    width:300px;
    display: flex;
    gap: 2em;
}
.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.btn-2{
    padding: 15px 28px;
    background-color:rgb(216, 152, 14) ;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor:pointer;
}
.btn-2:hover{
    background-color: white;
    color: rgb(216, 152, 14);
   
}
.img-box img{
    border-radius: 50%;
    width: 250px;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color:rgb(216, 152, 14) ;
}
::-webkit-scrollbar-track{
    background-color: black;
    width: 50px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: black;
}
.about-content h2{
    text-align: center;
    color: white;
    font-size: 42px;
}
.about-content h3{
    text-align: center;
    font-size: 62px;
    color: white;
}
.about-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}
.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form form{
    max-width: 50em;
    margin:1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: white;
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}